<%= form_for @posting do |f| %>
  <div class="form-group">
    <%= f.text_field :title, placeholder: "Test Subject", class: "form-control" %>
  </div>

  <%= f.fields_for :post_comments do |p| %>
    <div class="form-group">
      <%= p.text_area :body, placeholder: "Test Add a comment", rows: 10, class: "form-control" %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.submit %>
  </div>
<% end %>
